.site-options {
    display: flex;
    /* padding: 4rem !important; */
}

.bgAdd {
    width:  50%;
    margin-bottom: 0;
}

.bgAdd button {
    margin-right: 1rem;
}

.bgAdd select {
    margin-right: 1rem;
}

.bgAdd span {
    display: none;
}

.bgPreview {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.bgPreview img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}