:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #F5C396;
  --second-brand-color: #C2847A;
  --third-brand-color: #EAD7D7;
  --fourth-brand-color: #F1E4E8;


  --main-font:  'Jost';
  --title-font:  'Jost SemiBold';
  --main-title-font:  'Anton';

  font-size: 62.5%;
}
